/* Styles********
---------
COLORS
blue #0077FF
light blue: #43c0ee
---------
FONTS
font-family: 'Roboto', sans-serif;
font-family: 'Lora', serif;
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Oswald', sans-serif;
---------
*****************/

@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed|Roboto:400,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700');
@import url('https://fonts.googleapis.com/css?family=Oswald:200,400,700');

* {
  box-sizing: border-box;
}

/* #region Global Styles */

html {
  height: 100%;
  display: flex;
  overflow: hidden;
}

body {
  background-image: url(./jpBackground.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  background-position: center top;
  position: relative;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}

/* #endregion Global Styles */


/* #region player input section */

.game-container {
  padding: 3em 0 0 0;
  width: 100%;
}

.game-title {
  margin: auto;
  text-align: center;
  max-width: 1200px;
  width: 90%;
  padding-top: 7em;
  position: relative;
  bottom: -10px;
  text-shadow: 0px 2px 6px rgba(54, 55, 255, .6);
}

.game-title h1 {
  position: relative;
  color: #fff;
  display: inline-block;
  font-size: 3.5em;
  margin: 0;
  text-align: center;
  line-height: 1;
  text-transform: uppercase;
  text-align: left;
  font-family: 'Oswald', sans-serif;
  font-weight: 800;
}

.game-title h1::after{
  content:"";
  position: absolute;
}


/* #endregion player input section */


/* #region player input form section */

.form-selection {
  margin: auto;
  padding: 3em 0em;
  width: 90%;
  border-radius: 5px;
  max-width: 1200px;
  background: rgba(35, 31, 32, .95);
  box-shadow: 0px 1px 25px 1px rgba(54, 55, 255, .6);
}

.form-selection form {
  display: flex;
  justify-content: space-evenly;
}

.form-selection fieldset {
  padding: 0;
  margin: 0;
  display: flex;
  position: relative;
  border: none;
  width:28%;
}

.form-selection fieldset::before {
  content: "";
  position: absolute;
  background: #3c3c3c;
  width: 2px;
  height: 93px;
  right: -21px;
  bottom: -21px;
  border-radius: 2px;
}

.form-selection fieldset:last-child::before {
  display: none;
}

.player-input {
  position: relative;
  margin: auto;
  width: 100%;
  display: flex;
  max-width: 280px;
}

span.label {
  font-size: .8em;
  position: absolute;
  top: 8px;
  left: 0;
  font-size: 22px;
  color: #fff;
  font-weight: 400;
  transform-origin: 0 0;
  transition: all .2s ease;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
}
.border {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background: #0077FF;
  transform: scaleX(0);
  transform-origin: 0 0;
  transition: all .15s ease;
}

input {
  font-family: 'Open Sans Condensed', sans-serif;
  -webkit-appearance: none;
  width: 100%;
  border: 0;
  padding: 12px 0;
  height: 48px;
  font-size: 26px;
  font-weight: 500;
  border-bottom: 2px solid #C8CCD4;
  background: none;
  border-radius: 0;
  color: #fff;
  transition: all .15s ease;
}

input:hover {
  /* background: rgba(34, 50, 84, .3); */
}

input:not(:placeholder-shown) + span {
  color: #5a667f;
  transform: translateY(-26px) scale(0.75);
}

input:focus {
  background: none;
  outline: none;
  font-size: 26px;
  color: #0d67de;
}

input:focus + span {
  color: #0077FF;
  transform: translateY(-26px) scale(.75);
}

input:focus + span + .border {
  transform: scaleX(1);
}

input:-internal-autofill-selected {
  background:none;
}

/* #endregion player input section */


/* #region player information screen */

footer {
  position: absolute;
  width: 500px;
  margin-left: -250px;
  bottom: -100px;
  left: 50%;
  transition: all 1s;
   overflow: hidden;
}

.player-info-container {
  transition: all 1s;
  display: flex;
  padding: .5em .5em .5em .5em;
  justify-content: space-around;
  background: #231f20;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, .5);
}

.player-info {
  width: 30%;
  padding: 0 3%;
  text-align: center;
  color: #fff;
}

.player-info.active-player h3 {
  font-weight: bold;
}

.player-info h3 {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  font-size: 1em;
  padding-bottom: .5em;
  font-weight: 100;
}

.player-info h4 {
  font-family: 'Roboto Condensed', sans-serif;
  margin: 0;
  text-transform: uppercase;
  padding: .5em;
  line-height: 1;
  letter-spacing: .04em;
  background: #313131;
  box-shadow: inset 0px 0px 6px 1px rgba(0, 0, 0, .8);
}

/* #endregion player information screen */


/* #region Action Button */

.action-button-container {
  position: absolute;
  bottom: 0px;
  right: 0px;
  line-height: 0;
  display: none;
}

.action-button-container button {
  height: 100px;
  outline:none;
  position: relative;
  color:#fff;
  width:100px;
  border:none;
  cursor: pointer;
  transition: background .5s ease;
  -moz-border-radius-bottomright: 50px 25px;
  border-top-left-radius: 100px 100px;
  background: #231f20;
}

.action-button-container button::after {
  /* content: "Start"; */
  content: attr(data-after);
  position: absolute;
  top: 50%;
  font-size: 1.2em;
  left: 32%;
  text-transform: uppercase;
  font-family: 'Roboto Condensed', sans-serif;
}

.action-button-container button:hover {
  background:#000;
  color:#fff;
}

.start-button-container {
  max-width: 1200px;
  width: 90%;
  margin: auto;
}

#startBtn {
  background-color: #252525;
  width: 150px;
  height: 150px;
  margin-left: auto;
  margin-right: 0;
  margin-bottom: 0px;
  margin-top: 2em;
  -webkit-border-radius: 75px;
  -moz-border-radius: 75px;
  border-radius: 75px;
  -webkit-box-shadow: inset 0px 2px 0px #585858, 1px 1px 0px #000, 2px 2px 5px #000;
  -moz-box-shadow: inset 0px 2px 0px #585858, 1px 1px 0px #000, 2px 2px 5px #000;
  box-shadow: inset 0px 2px 0px #585858, 1px 1px 0px #000, 2px 2px 5px #000;
}
#hole {
  background-color: #151515;
  width: 119px;
  height: 119px;
  margin-left: auto;
  margin-right: auto;
  top: 19px;
    position: relative;
    -webkit-border-radius: 155px;
    -moz-border-radius: 155px;
    border-radius: 155px;
    -webkit-box-shadow: 1px 1px 0px #5d5d5d;
    -moz-box-shadow: 1px 1px 0px #5d5d5d;
    box-shadow: 1px 1px 0px #5d5d5d;
}
#button {
  width: 115px;
  height: 115px;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
    cursor: pointer;
    top: -5px;
    position: relative;
    background-image: linear-gradient(bottom, rgb(82,79,82) 0%, rgb(134,134,134) 57%);
    background-image: -o-linear-gradient(bottom, rgb(82,79,82) 0%, rgb(134,134,134) 57%);
    background-image: -moz-linear-gradient(bottom, rgb(82,79,82) 0%, rgb(134,134,134) 57%);
    background-image: -webkit-linear-gradient(bottom, rgb(82,79,82) 0%, rgb(134,134,134) 57%);
    background-image: -ms-linear-gradient(bottom, rgb(82,79,82) 0%, rgb(134,134,134) 57%);
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    border-radius: 150px;
    -webkit-box-shadow: inset 0px 2px 0px #a8a8a8, 0px 2px 0px #2a2a2a, 0px 3px 0px #2a2a2a, 0px 4px 0px #2a2a2a, 0px 5px 0px #2a2a2a, 0px 6px 0px #2a2a2a, 0px 7px 0px #2a2a2a, 0px 8px 0px #2a2a2a, 0px 9px 0px #2a2a2a, 0px 10px 0px #2a2a2a, 10px 20px 10px #000;
    -moz-box-shadow: inset 0px 2px 0px #a8a8a8, 0px 2px 0px #2a2a2a, 0px 3px 0px #2a2a2a, 0px 4px 0px #2a2a2a, 0px 5px 0px #2a2a2a, 0px 6px 0px #2a2a2a, 0px 7px 0px #2a2a2a, 0px 8px 0px #2a2a2a, 0px 9px 0px #2a2a2a, 0px 10px 0px #2a2a2a, 10px 20px 10px #000;
    box-shadow: inset 0px 0px 0px #a8a8a8, 0px 0px 0px #2a2a2a, 0px 1px 0px #2a2a2a, 0px 4px 0px #2a2a2a, 0px 5px 0px #2a2a2a, 0px 6px 0px #2a2a2a, 0px 7px 0px #2a2a2a, 0px 6px 0px #2a2a2a, 0px 5px 0px #2a2a2a, 0px 4px 0px #2a2a2a, 2px 9px 13px #000;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    transition: all .2s;
}
#button:active {
    top: 2px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: inset 0px 2px 0px #a8a8a8;
}
#triangle {
  width: 0px;
      height: 0px;
      margin-left: 50%;
      margin-top: 50%;
      left: -17px;
      top: -28px;
      position: relative;
      border-top: 25px solid transparent;
      border-bottom: 25px solid transparent;
      border-left: 50px solid #22a9db;
    z-index: 2;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}
#button:hover #triangle { border-left: 50px solid #45bde9 }
#button:active #triangle { border-left: 50px solid #231f20 }
#lighter_triangle {
    width: 0px;
    height: 0px;
    margin-left: 50%;
    margin-top: 50%;
    left: -17px;
    top: -28px;
    position: absolute;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-left: 50px solid #43c0ee;
    z-index: 1;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}
#button:hover #lighter_triangle { border-left: 50px solid #8bdaf7 }
#button:active #lighter_triangle { border-left: 50px solid #231f20 }
#darker_triangle {
    width: 0px;
    height: 0px;
    margin-left: 50%;
    margin-top: 50%;
    left: -17px;
        top: -29px;
    position: absolute;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-left: 50px solid #0a7da7;
    z-index: 1;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}
#button:hover #darker_triangle { border-left: 50px solid #1d98c5 }
#button:active #darker_triangle { border-left: 50px solid #000000 }


/* #endregion Action Button */


/* #region Jeporady Game Board Styles */

.round-title {
  max-width: 1200px;
  width:90%;
  margin:auto;
  text-align: center;
  padding: 3em 0 1em 0;
}

.round-title h2 {
  color: #fff;
  font-family: 'Oswald', sans-serif;
  font-size: 3em;
  text-transform: uppercase;
  margin: 0;
}

.question-container {
  display: flex;
  padding: 0em 3em 3em 3em;
  align-items: flex-end;
  height: 70vh;
}

.question-column {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 25%;
  padding: 0 5px;
}

.question-title {
  padding-bottom: 1em;
}

.question-title h3 {
  color: #fff;
  font-family: 'Roboto Condensed', sans-serif;
  line-height: 1;
  margin: 0;
  text-align: center;
  font-size: 1.1em;
  font-weight: bold;
  letter-spacing: .03em;
}

.card {
  text-align: center;
  color: #faec62;
  font-family: 'Roboto Condensed', sans-serif;
  background: #247dac;
  font-size: 2.5em;
  line-height: 2.5;
  margin-bottom: 10px;
  border-radius: 10px;
  font-weight: bold;
  letter-spacing: .04em;
  cursor: pointer;
  transition: all .5s ease;
  box-shadow: -2px 1px 2px 0px rgba(0, 0, 0, .1);
}

.card-disabled {
  background:#2688bb;
  color:#2581b2;
  box-shadow: none;
  cursor: pointer;
  pointer-events: none;
}

.card:hover {
  background:#2688bb;
  color:#2581b2;
  transition: all .5 ease;
  box-shadow: none;
}


/* #endregion Jeporady Game Board Styles */


/* #region Jeporady Game Board Answers */

.answer-container {
  position: absolute;
  top:0;
  left:0;
  bottom:0;
  right:0;
  align-items: center;
  width:100%;
  height:100%;
  z-index:998;
  background-color: rgba(0, 0, 0, .9);
  display: flex;
}

.answer-question {
  color: #fff;
  background: #231f20;
  width: 70%;
  margin: 0 auto;
  padding: 3em;
  border-radius: 5px;
}

.answer-question h2 {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  margin: 0;
  line-height: 1.5;
  padding-bottom: 1em;
}

.select-answer {
  display: flex;
  flex-wrap:wrap;
  justify-content: center;
}

.answerBtn {
  font-family: 'Roboto Condensed', sans-serif;
  border: none;
  border-radius: 5px;
  width: 40%;
  padding: .5em;
  margin: 2%;
  outline: none;
  cursor: pointer;
}

.show-result-container {
  position: absolute;
  width: 100%;
  text-align: center;
}

.result {

}

.result i {
  font-size: 18em;
}

.result i.fa-check {
  color: #21a233;
}

.result i.fa-times {
  color: #d41a1a;
}

/* #endregion Jeporady Game Board Answers */


/* #region Daily Double */

.daily-double-title {
  position: absolute;
  z-index: 99999;
  width: 70%;
  background: rgba(3, 4, 4, 0.96);
  height: 50%;
  border: #151414 solid 3px;
  text-align: center;
  display: flex;
  align-items: center;
  margin: 23% 15%;
  border-radius: 10px;
  flex-direction: column;
  justify-content: center;
  box-shadow: 2px -1px 13px 3px black;
}

.daily-double-title h4 {
  font-family: 'Oswald', sans-serif;
  color: #fff;
  font-size: 5em;
  text-transform: uppercase;
  margin: 0;
}
.daily-double-title p {
  color: #fff;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 3em;
}
.daily-double-title input {
  width: 50%;
}

.daily-double-title button {
  font-family: 'Roboto Condensed', sans-serif;
  border: none;
  background: #313131;
  font-size: 1.5em;
  margin-top: 2em;
  color: #fff;
  padding: 0.5em 1em;
  border-radius: 5px;
  box-shadow: 1px 4px 8px 0px black;
  outline: none;
  text-transform: uppercase;
  cursor: pointer;
  transition: all .5s ease;
}

.daily-double-title button:hover {
  background: #91afab;
}

input.wager-input,
input.wager-input:focus {
  font-weight: bold;
  width: 20%;
  line-height: 1;
  border: 0;
  padding: 0px 0;
  height: auto;
  font-size: 4em;
  font-weight: 500;
  border-bottom: 2px solid #C8CCD4;
  color: #fff;
  transition: all .15s ease;
  font-weight: bold;
}


/* #endregion Daily Double */
