/* Styles********
---------
COLORS
blue #408da7
light-blue #92dfe5
---------
FONTS
font-family: 'Roboto', sans-serif;
font-family: 'Lora', serif;
font-family: 'Roboto Condensed', sans-serif;
---------
*****************/

@import url('https://fonts.googleapis.com/css?family=Lora|Roboto+Condensed|Roboto:400,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700');

* {
  box-sizing: border-box;
}

/* #region Global Styles */

html {
  height: 100%;
  display: flex;
  overflow: hidden;
}

body {
  background-image: url(./file.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  background-position: center top;
  position: relative;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}

/* #endregion Global Styles */


/* #region player input section */

.game-title {
  margin: 0;
  text-align: center;
}

.game-title h1 {
  font-family: 'Open Sans Condensed', sans-serif;
  color: #fff;
  font-size: 2.5em;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-weight: bold;
}

/* #endregion player input section */


/* #region player input form section */

.form-selection {
  margin: auto;
  padding: 2em 2em;
  width: 100%;
  max-width: 1200px;
}

.form-selection form {
  display: flex;
  justify-content: space-evenly;
}

.form-selection fieldset {
  padding: 0;
  margin: 0;
  display: flex;
  border: none;
  width:28%;
}

/* .form-selection label {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  padding-bottom: .5em;
  font-size: .8em;
}


.form-selection input {
  font-family: 'Open Sans Condensed', sans-serif;
  line-height: 1.5;
  padding: 5px;
  border-radius: 2px;
  border: none;
  box-shadow: 0px 1px 3px 2px rgba(0, 0, 0, .3);
  background: rgba(255, 255, 255, .9);
  outline:none;
  width: 100%;
} */

.player-input {
  position: relative;
  margin: auto;
  width: 100%;
  display: flex;
  max-width: 280px;
}

span.label {
  font-family: 'Roboto', sans-serif;
  font-size: .8em;
  position: absolute;
  top: 16px;
  left: 0;
  font-size: 22px;
  color: #fff;
  font-weight: 500;
  transform-origin: 0 0;
  transition: all .2s ease;
  text-transform: uppercase;
  font-family: 'Open Sans Condensed', sans-serif;
}
.border {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background: #0077FF;
  transform: scaleX(0);
  transform-origin: 0 0;
  transition: all .15s ease;
}

input {
  font-family: 'Open Sans Condensed', sans-serif;
  -webkit-appearance: none;
  width: 100%;
  border: 0;
  padding: 12px 0;
  height: 48px;
  font-size: 16px;
  font-weight: 500;
  border-bottom: 2px solid #C8CCD4;
  background: none;
  border-radius: 0;
  color: #fff;
  transition: all .15s ease;
}

input:hover {
  /* background: rgba(34, 50, 84, .3); */
}

input:not(:placeholder-shown) + span {
  color: #5a667f;
  transform: translateY(-26px) scale(0.75);
}

input:focus {
  background: none;
  outline: none;
  font-size: 26px;
}

input:focus + span {
  color: #0077FF;
  transform: translateY(-26px) scale(.75);
}

input:focus + span + .border {
  transform: scaleX(1);
}

input:-internal-autofill-selected {
  background:none;
}

/* #endregion player input section */


/* #region player information screen */

footer {
  position: absolute;
  width: 500px;
  margin-left: -250px;
  bottom: -100px;
  left: 50%;
  transition: all 1s;
   overflow: hidden;
}

.player-info-container {
  transition: all 1s;
  display: flex;
  padding: .5em .5em .5em .5em;
  justify-content: space-around;
  background: #231f20;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, .5);
}

.player-info {
  width: 30%;
  padding: 0 3%;
  text-align: center;
  color: #fff;
}

.player-info h3 {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  font-size: 1em;
  padding-bottom: .5em;
  font-weight: 100;
}

.player-info h4 {
  font-family: 'Roboto Condensed', sans-serif;
  margin: 0;
  text-transform: uppercase;
  padding: .5em;
  line-height: 1;
  letter-spacing: .04em;
  background: #313131;
  box-shadow: inset 0px 0px 6px 1px rgba(0, 0, 0, .8);
}

/* #endregion player information screen */


/* #region Action Button */

.action-button-container {
  position: absolute;
  bottom: 0px;
  right: 0px;
  line-height: 0;
}

.action-button-container button {
  height: 100px;
  outline:none;
  position: relative;
  width:100px;
  border:none;
  cursor: pointer;
  transition: background .5s ease;
  -moz-border-radius-bottomright: 50px 25px;
  border-top-left-radius: 100px 100px;
  background: #231f20;
}

.action-button-container button::after {
  content: "Start";
  position: absolute;
  top: 50%;
  font-size: 1.2em;
  left: 32%;
  text-transform: uppercase;
  font-family: 'Roboto Condensed', sans-serif;
}

.action-button-container button:hover {
  background:#000;
  color:#fff;
}

/* #endregion Action Button */
